* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  height: 100vh;
  width: 100vw;
}

div.first-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("people.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.first-page nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 4em;
}

.first-page nav img {
  height: 50px;
  margin: 0 0.3em;
}

.first-page nav div {
  display: flex;
  flex-direction: row;
}

.first-page a {
  text-decoration: none;
  color: white;
  margin: 0 1em;
  font-weight: 900;
}

#nav-link {
  display: flex;
  align-items: center;
}

.first-page #content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.first-page #content div {
  width 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 